[mysqld]
socket=/var/run/mysqld/mysql.sock
datadir=/var/lib/mysql
mysqlx-socket=/var/run/mysqld/mysqlx.sock

skip-networking

back_log=512
max_connections=1000

[client]
socket=/var/run/mysqld/mysql.sock

[mysql]
socket=/var/run/mysqld/mysql.sock
