WEBSITE_HOST=127.0.0.1
WEBSITE_PORT=8000

WEBSERVER_PORT=8080
WEBSERVER_NAME=localhost

DATABASE_USER=ewas
DATABASE_PASSWORD=...
DATABASE_NAME=ewascatalog

SECRET_KEY=...

MYSQL_ROOT_PASSWORD=...

DJANGO_SETTINGS_MODULE=website.settings
DJANGO_EMAIL='ewascatalog@outlook.com'
DJANGO_EMAIL_PASSWORD='...'

ACCESS_TOKEN='...'
SANDBOX_TOKEN='...'

