{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}
{% load types %}

<script type="text/javascript" class="init">
  $(document).ready(function(){
    $('#myTable').DataTable({
      "ordering": false
    });
  });
</script>

<h1> Queries related to <i>{{query_label}}</i> </h1>
<p class="small">&nbsp;</p>

<div class="catalog">
  <table id="myTable" width="100%" class="table table-striped">
    <thead>
      <tr>
	<th>Type</th>
	<th>ID</th>
	<th>Results</th>
	<th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for query in query_list %}
      <tr>
	{% if query|is_string %}
	<td colspan="4"> {{ query }} </td>
	{% else %}
	<td>
          <span class="catalog-object-marker {{ query.category }}-marker">{{ query.category }}</span>
	</td>
	<td style="word-break: break-all">
          <a href="{{ query.url }}"><b>{{ query.value }}</b></a>
	</td>
	<td>{{ query.assocs }}</td>
	<td style="word-break: normal">
          <span style="font-size: 75%">
            {% for key,value in query.details.items %}
	      {% if key == "PMID" %}
	        {% if "/" in value %}
	          <b>{{key}}</b>:<a href="https://doi.org/{{value}}" target="_blank">{{value}}</a> &nbsp;
		{% else %}
	          <b>{{key}}</b>:<a href="https://pubmed.ncbi.nlm.nih.gov/{{value}}" target="_blank">{{value}}</a> &nbsp;
		{% endif %}
	      {% else %}
              <b>{{key}}</b>:{{value}}&nbsp;
	      {% endif %}
            {% endfor %}
          </span>
	</td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

