{% extends 'catalog/base.html' %}

{% block content %}
{% load static %}
<div id="Upload" class="information">
   <h1>Upload</h1>
   <p>If you would like to have your EWAS added to the The EWAS Catalog, you can simply fill out an online form to describe each EWAS in your publication (the meta-data) and upload corresponding summary statistics. To access the meta-data form and upload your summary statistics, please email The EWAS Catalog team at <a href="mailto:ewascatalog@outlook.com">ewascatalog@outlook.com</a>.</p> 
   <p>Through this upload process, you also have the option to make your full summary statistics available, and citable, via <a href="https://zenodo.org/" target="_blank">Zenodo</a>. This can be indicated on the meta-data form. The EWAS Catalog team will sort this out and send you the DOI corresponding to your dataset. Click <a href="https://zenodo.org/record/4031387" target="_blank">here</a> to be taken to an example of a dataset uploaded to Zenodo via The EWAS Catalog pipeline.</p>
</div>

{% endblock %}
