{% load static %}

<html>
   <head>
      <title>MRC-IEU EWAS Catalog</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105090005-1', 'auto');
        ga('send', 'pageview');

      </script>
      <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/static.css' %}">
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
   </head>
   <body>
      <div>
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
            <div id="beta-icon" style="display: none">
                <img src={% static "images/logo1.png" %} width="35px" height="auto"/>
            </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="{% url 'catalog_home' %}"><p><img src="{% static 'images/logo1.png' %}" width="30px" height="auto"/> EWAS Catalog</p></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                   <ul class="nav navbar-nav">
                       <li class="active"><a href="{% url 'catalog_home' %}">Search
                          <span class="sr-only">(current)</span>
                       </a></li>
                       <li><a href="{% url 'catalog_about' %}">About</a></li>
                       <li><a href="{% url 'catalog_documents' %}">Documentation</a></li>
                       <li><a href="{% url 'catalog_download' %}">Download</a></li>
                       <li><a href="{% url 'catalog_upload' %}">Upload</a></li>
                   </ul>
                   <ul class="nav navbar-nav navbar-right"> 
                      </li><a class="navbar-brand" href="http://www.bris.ac.uk/social-community-medicine/"><img src="{% static 'images/bristol.png' %}" width="80px" height="auto"/></a></li>
                      </li><a class="navbar-brand" href="http://www.bristol.ac.uk/integrative-epidemiology/"><img src="{% static 'images/ieu_nav.png' %}" width="75px" height="auto"/></a></li>
                   </ul>
                </div>
            </div>
         </nav>
      </div>
      <div class="page-header">
      <div class="container">
         <h1> 
            <img id="smallimage" src="{% static 'images/logo2.png' %}" width="180px" height="auto" style="float: left;"</img>
            <p class="information"> &nbsp;</p>
            <a href="/">  EWAS Catalog <sub>&beta;</sub> </a>
            <p id="small" class="h2">  The MRC-IEU catalog of epigenome-wide association studies</p>
            <p class="h2">  </p>
         </h1>
         <p class="h2">  </p>
      </div>
      </div>
      <div class="container">
      <div class="content">
<!--         <div class="information">
             <h2>*This version of the EWAS Catalog website does not contain the full catalog of results and has been released for demonstration purposes only. The full version of the website will be released soon.</h2>
         </div>-->
         <div class="row">
               {% block content %}
               {% endblock %}
         </div>
      </div>
      </div>
      <div class="footer">
         <p>
            <a id="small" href="http://www.bris.ac.uk/social-community-medicine/"><img src="{% static 'images/bristol_red.png' %}" width="100px" height="auto"/></a>
            <a id="small" href="http://www.bristol.ac.uk/integrative-epidemiology/"><img src="{% static 'images/ieu.png' %}" width="100px" height="auto"/></a>
            Copyright © 2018 MRC-IEU University of Bristol. All rights reserved. <a href="{% url 'catalog_about' %}#terms">Terms of use</a>. 
            <!--<a id="small" href="http://github.com/jrs95"><img src="{% static 'images/owl1.png' %}" width="50px" height="auto"/></a> -->
         </p>
      </div>
   </body>
</html>
